<span>"{{ .Inner }}"{{ if .Get "hashtags" }} {{ range $index, $hashtags := split (.Get "hashtags") ", " }}{{ if gt $index 0 }} #{{ else }}#{{ end }}{{ . }}{{ end }}{{ end }}
	<a class="share-on-twitter link-reverse" target="_blank" href="https://twitter.com/intent/tweet?original_referer={{ .Page.Permalink }}&ref_src=twsrc%5Etfw&text=&quot;{{ .Inner }}&quot;{{ if .Get "hashtags" }} {{ range $index, $hashtags := split (.Get "hashtags") ", " }}{{ if gt $index 0 }}{{ htmlUnescape " &#35;" }}{{ else }}{{ htmlUnescape "&#35;" }}{{ end }}{{ . | lower }}{{ end }}%0a%0a{{ end }} {{ if .Get "shortlink" }}https://brian.link/{{ .Get "shortlink" }}{{ else }}{{ .Page.Permalink }}{{ end }} by @bwhli">Share on Twitter &#8594;
	</a>
	<br>
</span>
